[submodule "vendor/google-ads-mcp"]
	path = vendor/google-ads-mcp
	url = https://github.com/googleads/google-ads-mcp.git
[submodule "vendor/google-ads-api-developer-assistant"]
	path = vendor/google-ads-api-developer-assistant
	url = https://github.com/googleads/google-ads-api-developer-assistant.git
[submodule "vendor/google-ads-pb"]
	path = vendor/google-ads-pb
	url = https://github.com/shenzhencenter/google-ads-pb.git
[submodule "vendor/google-ads-java"]
	path = vendor/google-ads-java
	url = https://github.com/googleads/google-ads-java.git
[submodule "vendor/google-ads-python"]
	path = vendor/google-ads-python
	url = https://github.com/googleads/google-ads-python.git
[submodule "vendor/google-ads-ruby"]
	path = vendor/google-ads-ruby
	url = https://github.com/googleads/google-ads-ruby.git
